<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../src/assets/car.png">
  <title>AutoInsuranceCalulator</title>
</head>
<div class="background">
  <body class="mat-app-background">
    <h1>Auto Insurance Calculator</h1>
    <app-stepper></app-stepper>
    <div class="highlights">
      <h4>Highlights:</h4>
      <h6>- A plug and play IOT device which can be installed into any device to measure the KM reading of a Car.<br>- A
        proto that calculates premium of car based on the miles covered per month.<br>
        - Registered VIN number can be used to calcluate the premium.<br>
        - Premium is payable per month.<br>
      - Premium Calulated is $3/km travelled and base fare of $ 35.</h6>
    </div>
    <app-weekly></app-weekly>
  </body>
</div>
</html>