<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../src/assets/car.png">
  <title>AutoInsuranceCalulator</title>
</head>
<div class="background">
<h1>Auto Insurance Calculator</h1>
<app-stepper></app-stepper>
<div *ngIf="vin">
<mat-grid-list cols="2" rowHeight="4:2">
  <h1>Auto Analysis Report</h1>
  <mat-grid-tile><app-drivers-behaviour>Loading...</app-drivers-behaviour></mat-grid-tile>
  <mat-grid-tile><app-weekly>Loading</app-weekly></mat-grid-tile>
  <mat-grid-tile><app-speed-analysis>Loading...</app-speed-analysis></mat-grid-tile>
  <mat-grid-tile><app-actual-expected>Loading</app-actual-expected></mat-grid-tile>
</mat-grid-list>
<app-timeline>Loading...</app-timeline>
</div>
</div>

</html>